:root {
  --orange: rgb(255 147 21);
  --light: rgb(251, 244, 244);
  --blue: rgb(2 36 97);
  --light-blue: rgb(128 204 236);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--light);
}

.title {
  margin-bottom: 48px;
}
.title span {
  width: 100px;
  height: 1px;
  display: inline-block;
  background-color: var(--orange);
}
.title h2 {
  color: var(--blue);
  font-weight: 700;
}
.title p {
  color: var(--light-blue);
}
.btn {
  font-size: 12px;
}
.orange-btn {
  font-size: 16px;
  padding: 10px 32px;
  background-color: var(--orange);
  color: var(--light);
}
.orange-btn:hover {
  border-color: var(--light-blue);

  color: var(--light-blue);
}
.outlined-btn {
  font-size: 16px;
  border-color: var(--light-blue);
  color: var(--light-blue);
}
.outlined-btn:hover {
  border-color: var(--orange);
  color: var(--orange);
}
/* top navbar */
.top-nav {
  background: rgb(2 36 97);
  color: var(--light);
  display: flex;
  align-items: center;
  padding: 10px 0px;
}

.top-contact {
  display: flex;
  justify-content: flex-start;
}
.top-contact i {
  padding: 0px 5px;
}
.top-contact > div {
  padding-right: 15px;
}
.social-icon {
  display: flex;
  justify-content: flex-end;
}
.social-icon a {
  margin-right: 25px;
}

.social-icon a:hover {
  color: var(--light-blue);
}
/* navbar menus */
.nav-link {
  color: var(--blue);
  font-weight: 500;
}
.nav-link:hover {
  color: var(--light-blue);
}

/* banner */
.container-fluid {
  margin: 0px;
  padding: 0px;
}
.banner {
  margin-bottom: 48px;
}
.banner img {
  width: 100%;
}

/* swiper */
.card {
  border: none;
}

.row .card img {
  height: 400px;
}

.card-body {
  padding: 16px 0px;
}

.card .img-div {
  position: relative;
}

.card .img-div h5 {
  color: var(--light);
  font-weight: bold;
  position: absolute;
  bottom: 10%;
  left: 40%;
}

.card-body {
  text-align: center;
}

.swiper {
  padding-bottom: 25px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* about us */
.aboutus {
  margin: 48px 0px;
}
.aboutus .img-div {
  height: 600px;
  width: 100%;

  position: relative;
}

.aboutus .img-div img {
  width: 70%;
  height: 100%;
}

.aboutus .content-div {
  position: absolute;
  top: 20%;
  right: 0;
  width: 600px;
  background-color: white;
  height: 350px;
  padding: 48px;
  margin: 0px 48px;
}

.aboutus .title {
  margin-bottom: 0px;
}

.aboutus button {
  padding: 10px 24px;
}

/* video div */
.videoDiv {
  position: relative;
}
.videoDiv .img-div {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.videoDiv .img-div img {
  width: 100%;
  height: 100%;
}
.button-div {
  position: absolute;
  top: 35%;
  width: 800px;
  height: 300px;
  background-color: var(--light);
  opacity: 0.8;
}
.round-div {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: var(--orange);
  border-radius: 50%;
  margin: auto;
  cursor: pointer;
}

.round-div i {
  color: var(--light);
  font-size: 48px;
  position: absolute;
  top: 27px;
  left: 37px;
}
.round-div:hover {
  background-color: var(--light-blue);
}
.round-div i:hover {
  transform: scale(1.2);
  transition: 0.5s;
}
.button-div .title p {
  font-size: 20px;
}
.button-div .title {
  margin-bottom: 36px;
}

/* story div */

.package {
  margin: 48px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.package-info .title {
  padding: 0px 48px;
}
.package-img {
  width: 100%;
}
.package-img img {
  width: 100%;
}

/* testimonials */

.testimonials {
  text-align: center;
}
.rounded-div {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px dashed var(--orange);
}

.rounded-div img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.testimonials h5 {
  padding: 16px 0px;
}
.testimonials span {
  color: var(--light-blue);
  display: inline-block;
  padding-bottom: 8px;
}
.testimonials p {
  width: 70%;
  margin: 0 auto;
}

/* news */
.news {
  margin: 48px 0px;
}
.news > .container,
.col-md-8,
.col-md-4 {
  padding: 0px;
}

.header {
  display: flex;
}

.header .title {
  width: 89%;
}

.header .buttonDiv {
  padding-top: 16px;
}

.img {
  padding: 16px;
  border: 1px solid rgb(236, 233, 233);
  border-radius: 5px;
}

.img span {
  display: inline-block;
  padding: 16px 0px !important;
}

.news a {
  color: var(--lightblue);
}

.news h3,
h4 {
  color: var(--blue);
  line-height: 1.5;
  font-weight: bold;
}

.news .img p {
  max-width: 700px;
}

.news .img button {
  margin-top: 16px;
}

.img-div img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.news-info .row {
  flex-direction: column;
}

.news-info .row .col {
  padding: 0px 66px 30px 36px;
}

/* partners */
.partners {
  text-align: center;
  margin: 48px;
}

.brands {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}

.brand-items {
  width: 19%;
  height: 200px;
  padding: 16px 40px;
  border: 1px solid rgb(236, 233, 233);
}

.brand-items img {
  width: 100%;
  height: 100%;
}

/* footer */
footer {
  color: var(--light);
  background-color: var(--blue);
}

.footer .left,
.right {
  margin: 48px 0px;
}

.footer h2 {
  padding: 8px 0px;
  line-height: 1.5;
}

.footer a {
  display: block;
  text-decoration: underline;
}

.footer p {
  padding-top: 16px;
  margin-bottom: 0;
}

.footer .right .row {
  padding-left: 48px;
}

.footer .right h5 {
  padding-bottom: 16px;
}

.footer .right ul {
  padding-left: 0px;
}

.footer .right ul li {
  padding: 16px 0px 0px 0px;
  list-style: none;
}

.footer .right ul li a {
  text-decoration: none;
}

.footer .right ul li a:hover {
  color: var(--lightblue);
}

.partner__flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 -15px;
}
.partner__list figure {
  border: 1px solid #eee;
  padding: 15px;
  text-align: center;
}
.partner__list {
  flex: 0 0 20%;
  max-width: 20%;
  padding: 0 15px;
}
